﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label >Agreement Number</label>
                <input type="text" class="form-control" id="aggrementnumber" placeholder="Agrement Number">
            </div>
            <div class="form-group">
                <label >Branch Id</label>
                <input type="text" class="form-control" id="branchid" placeholder="Branch Id">
            </div>
            <div class="form-group">
                <label >No BPKB</label>
                <input type="text" class="form-control" id="nobpkb" placeholder="No BPKB">
            </div>
            <div class="form-group">
                <label >Tanggal BPKB in</label>
                <input type="text" class="form-control" id="tanggalbpkbin" placeholder="Tanggal BPKB in">
            </div>
            <div class="form-group">
                <label >Tanggal BPKB</label>
                <input type="text" class="form-control" id="tanggalbpkb" placeholder="Tanggal BPKB">
            </div>
            <div class="form-group">
                <label >No. Faktur</label>
                <input type="text" class="form-control" id="nofaktur" placeholder="No Faktur">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label >Tanggal Faktur</label>
                <input type="text" class="form-control" id="tglfaktur" placeholder="Tanggal Faktur">
            </div>
            <div class="form-group">
                <label >Nomor Polisi</label>
                <input type="text" class="form-control" id="nopol" placeholder="Nomor Polisi">
            </div>
            <div class="form-group">
                <label >Lokasi Penyimpanan</label>
                <input type="text" class="form-control" id="lokasi" placeholder="Lokasi Penyimpanan">
            </div>
        </div>
</div>

@section Script{
    <script>
        $( document ).ready(function() {
            $.post(getUrl('/Home/GetDataLocation'),
                {
                },
                function (data) {
                    alert(JSON.stringify(data));
                })
        });
    </script>
}